
{% extends 'base.html.twig' %}

{% block body %}
   {% block main %}
        <div class="container body-content span=8 offset=2">
         <div class="well">
             {{ form_start(form, {'name': 'authenticate','class': 'form-hrizontal', 'action': path("player_register_post"), 'method': 'POST'}) }}
                 <fieldset>
                     <legend>Register</legend>
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username) }}
                        {{ form_widget(form.password ) }}

                        <input type="submit" value="Register">
                 </fieldset>
             {{  form_row(form._token) }}
             {{ form_end(form) }}

         </div>
        </div>

     {% endblock %}
{% endblock %}



{#
{% extends 'base.html.twig' %}

{% block body%}

{% block main %}
    <div class="container body-content span=8 offset=2">
	<div class="well">
		<form name="authenticate" class="form-horizontal" action="{{ path("player_register_post") }}" method="POST">
			<fieldset>
				<legend>Register</legend>

				<div class="form-group">
					<label class="col-sm-4 control-label">Username</label>
					<div class="col-sm-4 ">
						<input type="text" class="form-control" id="inputEmail" placeholder="Full Name" name="player[username]" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" >Password</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="inputPassword" placeholder="Password" name="player[password][first]">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" name="password">Confirm Password</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password" name="player[password][second]">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-4 col-sm-offset-4">
						<button type="reset" class="btn btn-default">Cancel</button>
						<button type="submit" class="btn btn-primary">Register</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	</div>


{% endblock %}

{% endblock %}

#}